<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.order.AttrValueMapper">
  <resultMap id="BaseResultMap" type="com.example.base.order.AttrValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="attr_name_id" jdbcType="INTEGER" property="attrNameId" />
  </resultMap>
</mapper>