<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.order.AttrNameMapper">
  <resultMap id="BaseResultMap" type="com.example.base.order.AttrName">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="cate_id" jdbcType="INTEGER" property="cateId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
</mapper>