<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.order.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.example.base.order.Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="cate_id" jdbcType="INTEGER" property="cateId" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="spu_volume" jdbcType="BIGINT" property="spuVolume" />
  </resultMap>
</mapper>